<%- include('parts/head', { styles: styles[0], title: 'Fibo/Homepage' }) %>

<!--HEADER SECTION STARTS-->

<% const glideItem = [
    {
        link: '#',
        image: './img/yellow-slider.png'
    },
    {
        link: '#',
        image: './img/black-slider.png'
    },
    {
        link: '#',
        image: './img/yellow-slider.png'
    },
    {
        link: '#',
        image: './img/black-slider.png'
    }
]%>

<section class="hero">
    <div class="container">
        <%- include('shared/header/header') %>
        <div class="glide">
            <div class="header__slider" data-glide-el="track">
                <ul class="header__slide-list">
                   <% glideItem.forEach((item) => { %>
                     <%- include('shared/index/glide-card', {...item} ) %>
                   <% }) %>
                </ul>
            </div>
            <div class="header__slider-buttons" data-glide-el="controls">
                <button class="header__prev-button button-arrows" data-glide-dir=">"></button>
                <button class="header__next-button button-arrows" data-glide-dir="<"></button>
            </div>
        </div>
    </div>
</section>


<!--HEADER SECTION ENDS-->

<!--CATALOG SECTION STARTS-->

<% const items = [
    {
        image: './img/novelty-pizza.png',
        title: 'Карбонара',
        price: 'от 120 ₴'
    },
    {
        image: './img/novelty-pizza.png',
        title: 'Карбонара',
        price: 'от 120 ₴'
    },
    {
        image: './img/novelty-pizza.png',
        title: 'Карбонара',
        price: 'от 120 ₴'
    },
    {
        image: './img/novelty-pizza.png',
        title: 'Карбонара',
        price: 'от 120 ₴'
    }
]%>

<% const menuItems = [
    {
      link: '#',
        image: './img/cheese-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
        basketLink: '#'
    },
    {
        link: '#',
        image: './img/seasons-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/margarita-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/mashroom-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/cheese-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
        basketLink: '#'
    },
    {
        link: '#',
        image: './img/seasons-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/margarita-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/mashroom-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    }
]%>

<% const menuItemsSmallSection = [
    {
        link: '#',
        image: './img/cheese-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
        basketLink: '#'
    },
    {
        link: '#',
        image: './img/seasons-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/margarita-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    },
    {
        link: '#',
        image: './img/mashroom-pizza.jpg',
        title: 'С креветками и трюфелями',
        description: 'Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан. 350 г',
        price: 'от 600 ₴',
    }
]%>

<section class="catalog">
    <div class="container catalog__container">
        <h3 class="catalog__novelties">
            Новинки
        </h3>
        <ul class="catalog__novelties-list">
           <% items.forEach((item) => { %>
             <%- include('shared/index/catalog-novelties', { ...item } ) %>
           <% }); %>
        </ul>
        <h2 class="catalog__menu">
            Паста
        </h2>
        <ul class="catalog__menu-list">
            <% menuItems.forEach((item) => { %>
                <%- include('shared/index/catalog-menu', { ...item } ) %>
            <% }); %>
        </ul>
        <h2 class="catalog__menu">
            Паста
        </h2>
        <ul class="catalog__menu-list">
            <% menuItems.forEach((item) => { %>
                <%- include('shared/index/catalog-menu', { ...item } ) %>
            <% }); %>
        </ul>
        <h2 class="catalog__menu">
            Паста
        </h2>
        <ul class="catalog__menu-list">
            <% menuItemsSmallSection.forEach((item) => { %>
                <%- include('shared/index/catalog-menu', { ...item } ) %>
            <% }); %>
        </ul>
    </div>
</section>

<!--CATALOG SECTION ENDS-->

<!--PROMO SECTION STARTS-->

<% const promoItems = [
    {
        link: '#',
        image: './img/promo.jpg'
    },
    {
        link: '#',
        image: './img/promo.jpg'
    },
    {
        link: '#',
        image: './img/promo.jpg'
    },
    {
        link: '#',
        image: './img/promo.jpg'
    },
    {
        link: '#',
        image: './img/promo.jpg'
    }
]%>

<section class="promo">
    <div class="container promo__container">
        <h2 class="promo__title">
            Наши <span class="promo__colored-title">акции</span>
        </h2>
        <ul class="promo__card-group">
            <% promoItems.forEach((item) => { %>
              <%- include('shared/index/promo-card', {...item} ) %>
        <% }); %>
        </ul>
        <button class="promo__button">
            <a class="promo__all-button" href="#">
                Все акции
            </a>
        </button>
    </div>
</section>

<!--PROMO SECTION ENDS-->

<!--DELIVERY SECTION STARTS-->

<% const deliverItems = [
    {
        image: './img/card-icon.svg',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    },
    {
        image: './img/car-icon.svg',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    },
    {
        image: './img/laptop-icon.svg',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    },
    {
        image: './img/car-clock-icon.svg',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    }
]%>

<section class="delivery">
    <div class="container delivery__container">
        <h2 class="delivery__title">
            Оплата и доставка
        </h2>
        <ul class="delivery__cards">
            <% deliverItems.forEach((item) => { %>
              <%- include('shared/index/delivery-card', {...item} )%>
           <% }) %>
        </ul>
        <div class="delivery__map-wrapper">
            <img class="delivery__map" src="img/delivery-map.jpg" alt="this is map">
        </div>
    </div>
</section>

<!--DELIVERY SECTION ENDS-->

<!--FOOTER SECTION STARTS-->

<%- include('shared/footer')%>

<!--FOOTER SECTION ENDS-->

<%- include('parts/end', { script: scripts[0] }) %>

