<%- include('parts/head', { styles: styles[0], title: 'Fibo/Promotions' }) %>

<section class="hero">
    <div class="container">
        <%- include('shared/header/header') %>
    </div>
</section>

<!--PROMO-CARDS SECTION STARTS-->

<% const items = [
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-1.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-2.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-3.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-4.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-5.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-6.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-7.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-8.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-9.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-10.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-11.svg'
    },
    {
        title: 'Дарим кибер-призы',
        description: 'Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником розыгрыша игровых ключей и больших пицц 29 июня.',
        image: './img/promo-card-10.svg'
    }
] %>

<section class="promo-cards">
    <div class="container promo-cards__container">
        <h1 class="promo-cards__title">
            Акции
        </h1>
        <ul class="promo-cards__list">
            <% items.forEach((item) => { %>
                <%- include('shared/promotions/promo-card', { ...item } ) %>
            <% }); %>
        </ul>
    </div>
</section>


<!--PROMO-CARDS SECTION ENDS-->


<!--FOOTER SECTION STARTS-->

<%- include('shared/footer/footer')%>

<!--FOOTER SECTION STARTS-->

<%- include('parts/end', { script: scripts[0] }) %>
