<li class="catalog__card">
    <a class="catalog__card-link" href="<%= link %>">
        <img class="catalog__card-image" src="<%= image %>" alt="this is food">
        <div class="catalog__card-text-group">
            <h3 class="catalog__menu-title">
                <%= title %>
            </h3>
            <p class="catalog__menu-descript">
                <%= description %>
            </p>
        </div>
        <div class="catalog__buy-wrapper">
            <h4 class="catalog__menu-price">
                <%= price %>
            </h4>
            <a class="catalog__basket-button button__primary" href="#">
                В корзину
            </a>
        </div>
    </a>
</li>
