<li class="catalog__item">
    <a class="catalog__item-link" href="<%= link %>">
        <img class="catalog__item-image" src="<%= image %>" alt="<%= alternative %>">
        <div class="catalog__item-text-group">
            <h3 class="catalog__menu-title">
                <%= title %>
            </h3>
            <p class="catalog__menu-descript">
                <%= description %>
            </p>
        </div>
        <div class="catalog__buy-wrapper">
            <h4 class="catalog__menu-price">
                <%= price %>
            </h4>
            <button class="catalog__basket-button button__primary" href="#">
                В корзину
            </button>
        </div>
    </a>
</li>
