<li class="basket__add-form-checkbox-wrapper">
    <input class="basket__add-form-input" type="checkbox" id="<%= id %>"
           name="<%= name %>">
    <label class="basket__add-form-label" for="<%= id %>">
        <img class="basket__add-form-label-image" src="<%= image %>" alt="add this item">
        <span class="basket__add-form-label-content">
          <span class="basket__add-form-label-title">
            <%= title %>
          </span>
          <span class="basket__add-form-label-price">
            <%= price %>
          </span>
        </span>
    </label>
</li>
