<li class="basket__sauce-item">
    <input class="basket__sauce-input" type="checkbox" id="<%= id %>"
           name="<%= name %>">
    <label class="basket__sauce-label" for="<%= id %>">
        <img class="basket__sauce-item-image" src="<%= image %>" alt="<%= alternative %>">
            <%= title %>
        <span class="basket__sauce-label-price">
              <%= price %>
            </span>
    </label>
</li>
